$ads-primary-bg-color: #00031c;
$ads-text-title-color: #ffffff;
$ads-text-secondary-color: #2800ff;
$ads-text-body-color: #bbbbc2;
$ads-indigo: #6c52ee;
$ads-gradient-btn: linear-gradient(90deg, #6580f9 5%, #6c52ee 80%, #9e60ff 100%);
